* {
    position: relative;
}

body {
    background-color: #90cc99;
}

button, .date, #name {
    background-color: blueviolet;
    border: 2px solid black;
    color: white;
}

button, .date, .output, p {
    font-family: "Courier New";
}

h1 {
    font-family: "Lucida Calligraphy";
    color: #555555;
}

h1, .output, p {
    text-align: center;
}

.date, #name, #clicker {
    display: block;
    margin: 0 auto;
}

#horoImg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.output {
    border: 3px solid #005566;
    background-color: lightskyblue;
}
